@media (orientation: landscape) {
    :root{
      --text-scale-unit: 1vh;
    }
}
@media (orientation: portrait) {
    :root {
      --text-scale-unit: 1vw;
    }
}

@font-face {
   font-family: Texturina;
   src: url(Texturina.ttf);
}

@keyframes rotate {
	0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.out-top {
    animation: rotate 15s linear infinite;
    transform-origin: 10px 20px;
}

.in-top {
    animation: rotate 10s linear infinite;
    transform-origin: 13px 25px;
}

.out-bottom {
    animation: rotate 15s linear infinite;
    transform-origin: 79px 88px;
}

.in-bottom {
    animation: rotate 10s linear infinite;
    transform-origin: 84px 86px;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000000;
}

.content-box {
    background-color: rgba(23, 33, 37, 0.634);
    border: 2px solid #ffffff;
    border-radius: 40px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 55%;
    padding: 30px;
    text-align: center;
    box-shadow: #000000d0 2px 2px 5px;
}

.avatar {
    height: 200px;
    border: 2px solid #f1f1f1;
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow: #000000d0 2px 2px 5px;
	filter: contrast(0.15);
    filter: brightness(1.3);
    filter: saturate(0.8);
    filter: opacity(230%);
}

.text {
    font-family: 'Texturina';
    font-size: calc(var(--text-scale-unit) * 3.5);
    letter-spacing: 1px;
    color: #ffffff;
    margin-top: 10px;
    text-shadow: #000000 10px 10px 12px;
}

.icon {
    width: 20px;
    border-radius: 50px;
}

.social {
    font-size: 20px;
}

a {
    text-decoration: none;
    border: 1px solid #ffffff;
    border-radius: 15px;
    margin: 2px;
    padding: 10px;
    font-size: 25px;
    width: 20px;
    height: 20px;
    color: white;
    box-shadow: #000000d0 2px 2px 5px;
    background-color: #24323282;
}


.content-box:hover {
    box-shadow: #000000e8 5px 5px 7px 6px;
    transition: 0.5s;
}

.fa-facebook:hover {
    background: #3B5998;
    border-radius: 100px;
    transition: 0.3s;
    box-shadow: #000000 4px 4px 10px;
}
.fa-instagram:hover {
    background: #bc2a8d;
    border-radius: 100px;
    transition: 0.3s;
    box-shadow: #000000 4px 4px 10px;
}
.fa-times:hover {
    background: #000000;
    border-radius: 100px;
    transition: 0.3s;
    box-shadow: #000000 4px 4px 10px;
}
.fa-github:hover {
    background: #000000;
    border-radius: 100px;
    transition: 0.3s;
    box-shadow: #000000 4px 4px 10px;
}
.fa-telegram:hover {
    background: #0088cc;
    border-radius: 100px;
    transition: 0.3s;
    box-shadow: #000000 4px 4px 10px;
}
.fa-envelope:hover {
    background: #dd4b39;
    border-radius: 100px;
    transition: 0.3s;
    box-shadow: #000000 4px 4px 10px;
}
