@media (orientation: landscape) {
    :root{
      --text-scale-unit: 1vh;
    }
}
@media (orientation: portrait) {
    :root {
      --text-scale-unit: 1vw;
    }
}

@font-face {
   font-family: Texturina;
   src: url(Texturina.ttf);
}

 @keyframes rotate {
	0% {
    transform: rotate(0deg);
}
    100% {
    transform: rotate(360deg);
}
}
.out-top {
    animation: rotate 14s linear infinite;
    transform-origin: 30px 35px;
}
.in-top {
    animation: rotate 7s linear infinite;
    transform-origin: 25px 20px;
}
.middel {
    animation: rotate 10s linear infinite;
    transform-origin: 40px 40px;
}
.out-bottom {
    animation: rotate 14s linear infinite;
    transform-origin: 85px 90px;
}
.in-bottom {
    animation: rotate 7s linear infinite;
    transform-origin: 90px 95px;
}

body {
    background-color: #000000;
	backgroun-size: fill;
}
svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content-box {
    background-color: rgba(97, 97, 98, 0.538);
    border: 1.2px solid #000000;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 65%;
	height: 80%;
    padding: 30px;
    text-align: center;
    box-shadow: #000000d0 2px 2px 5px;
}

.avatar {
    height: 200px;
    border: 4px solid #f1f1f1;
    border-radius: 60px;
    box-shadow: #000000 3px 4px 4px 6px;
}

.text {
    font-family: 'Texturina';
    font-size: calc(var(--text-scale-unit) * 3.5);
    letter-spacing: 2px;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: #000000 5px 10px 12px;
}

.icon {
    width: 20px;
    border-radius: 50px;
}

.social {
    line-height:30px;
}

a {
    color: #ffffff;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #f1f1f1;
    width: 40px;
    height: 28px;
    padding-top: 12px;
    margin: 0 2px;
}

.content-box:hover {
    box-shadow: #000000e8 6px 6px 8px 7px;
    transition: 0.3s;
}

.fa-facebook:hover {
    background: #3B5998;
    border-radius: 100px;
    transition: 0.3s;
    box-shadow: #000000 4px 4px 10px;
}
.fa-instagram:hover {
    background: #bc2a8d;
    border-radius: 100px;
    transition: 0.3s;
    box-shadow: #000000 4px 4px 10px;
}
.fa-times:hover {
    background: #000000;
    border-radius: 100px;
    transition: 0.3s;
    box-shadow: #000000 4px 4px 10px;
}
.fa-github:hover {
    background: #000000;
    border-radius: 100px;
    transition: 0.3s;
    box-shadow: #000000 4px 4px 10px;
}
.fa-telegram:hover {
    background: #0088cc;
    border-radius: 100px;
    transition: 0.3s;
    box-shadow: #000000 4px 4px 10px;
}
.fa-envelope:hover {
    background: #dd4b39;
    border-radius: 100px;
    transition: 0.3s;
    box-shadow: #000000 4px 4px 10px;
}
