@media (orientation: landscape) {
    :root{
      --text-scale-unit: 1vh;
    }
}
@media (orientation: portrait) {
    :root {
      --text-scale-unit: 1vw;
    }
}

@font-face {
   font-family: Texturina;
   src: url(Texturina.ttf);
}

body, html {
    height: 100%;
    margin: 0%;
    padding: 0%;
    
}

.container {
    background-image: url("background.jpg");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-box {
    background-color: rgba(0, 34, 38, 0.394);
    border: 3px solid #f1f1f1;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 45%;
    padding: 40px;
    text-align: center;

}

.avatar {
    height: 200px;
    border: 3px solid #f1f1f1;
    border-radius: 60px;
}

.text {
    font-family: 'Texturina';
    font-size: calc(var(--text-scale-unit) * 3.5);
    letter-spacing: 2px;
    color: #f1f1f1;
}

.icon {
    width: 20px;
    border-radius: 50px;
}

.social {
    line-height:40px;
}

a {
    color: #ffffff;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #f1f1f1;
    width: 40px;
    height: 28px;
    padding-top: 12px;
    margin: 0 2px;
}

.fa-facebook:hover {
    background: #3B5998;
    border-radius: 100px;
    transition: 0.3s;
}
.fa-instagram:hover {
    background: #bc2a8d;
    border-radius: 100px;
    transition: 0.3s;
}
.fa-times:hover {
    background: #000000;
    border-radius: 100px;
    transition: 0.3s;
}
.fa-github:hover {
    background: #000000;
    border-radius: 100px;
    transition: 0.3s;
}
.fa-telegram:hover {
    background: #0088cc;
    border-radius: 100px;
    transition: 0.3s;
}
.fa-envelope:hover {
    background: #dd4b39;
    border-radius: 100px;
    transition: 0.3s;
}
